@import '@yandex/ymaps3-default-ui-theme/dist/esm/index.css';

:root {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#map {
    height: calc(100dvh - 20px);
    width: 100%;
}

.toolbar {
    position: fixed;
    top: 15px;
    left: 14px;
    right: 30px;
    z-index: 10000;
    font-family: "Roboto", sans-serif;
}

.toolbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;
    padding: 0 8px;
    border-radius: 28px;
    background-color: #252b2d;
    box-shadow: 0 2px 5px 1px #666;
    overflow: hidden;
}

.toolbar-coordinates {
    color: #acb5b9;
    word-spacing: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.toolbar-user-icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
    color: #252b2d;
    background-color: #86D1EA;
}

.marker {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    background-color: #8d2121;
    font-family: "Roboto", sans-serif;
    transition: box-shadow 0.3s ease;
}

.marker:hover {
    cursor: pointer;
    box-shadow: 0 3px 6px 1px #666;
}

.marker-popup {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.popup-username {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 4px;
}

.popup-timestamp {
    font-weight: 300;
}

@media (min-width: 768px) {
    .toolbar-content {
        width: 66%;
        max-width: 666px;
        margin: 0 auto;
    }
}